@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: inline;
    max-width: 100%;
}

li {
    

}